.extenionMain
{
	position:absolute;
	width:350px;
	height:100%;
	border:1px solid red;
	float:right;
	z-index:100;
	right:0;
	top:0;
	min-height:250px;
	overflow-y:auto;
	max-height:600px;
 	background-color: #F2F2F2;
}
#ExentionHead{
	padding-left: 5px;
}
.username{
	font-size: 14px;
	font-family: proxima-nova, "Helvetica Neue", Arial, sans-serif;
  	padding-top: 5px;
}
.currentUserName{
	font-size: 14px;
	font-family: proxima-nova, "Helvetica Neue", Arial, sans-serif;
  	padding-left: 15px;
}
.whereCondition{
	padding: 5px,5px,5px,5px;
	margin: 5px;
}

.whereCondition input{
	padding: 5px,5px,5px,5px;
	margin: 5px;
}
